* {
    margin: 0;
    padding: 0;
}


/* 顶部标题 */

html,
body {
    width: 100%;
}

.nav {
    height: 98px;
}

.nav-body {
    position: relative;
    margin-left: 107px;
}

.logo {
    text-align: center;
    width: 50px;
    height: 50px;
    position: relative;
    top: 25px;
    background-color: #F56600;
}

.nav-text {
    width: 300px;
    height: 100px;
    position: relative;
    left: 75px;
    top: -40px;
}

.p-first {
    width: 200px;
    font-size: 35px;
    font-weight: bold;
}

.p-second {
    font-size: 12x !important;
}


/* 身体 */

.body {
    width: 100%;
    height: 588px;
    position: relative;
    background-image: url("../images/xiaomi.jpeg");
    background-repeat: no-repeat;
    background-position: top center;
}

.login {
    width: 410px;
    height: 557px;
    background-color: #FFF;
    position: absolute;
    top: 31px;
    right: 108px;
}

.check {
    height: 82px;
    width: 410px;
    text-align: center;
    line-height: 82px;
    font-size: 30px;
    color: #e0e0e0;
}

.line {
    width: 1px;
    height: 24px;
    margin: 0 35px 0 42px;
    border: 1px solid #e0e0e0;
}

.check span {
    display: inline-block;
    width: 158px;
    height: 25px;
    font-size: 24px;
    color: #7D8289;
    text-decoration: none;
}

.account {
    margin-top: 10px;
}

.inp span {
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 14px;
    width: 312px;
    height: 24px;
    font-size: 16px;
    color: #cccccc;
    border: 1px solid #DDD;
    line-height: 22px;
    padding: 12px 16px 13px;
}

.inp span input {
    font-size: 14px;
    width: 326px;
    border: none;
    color: #BBB;
    outline: none;
}

.sure {
    margin-top: 9px;
    margin-left: 30px;
    border: 0;
    width: 346px;
    height: 50px;
    background-color: #F56600;
    font-size: 14px;
    color: #fff;
}

.reg {
    text-align: center;
    margin-top: 6px;
    color: #cccccc;
}

.reg>a {
    font-size: 14px;
    text-decoration: none;
    color: #cccccc;
}

.reg>a:first-child {
    margin-right: 100px;
}

.reg>a:hover {
    color: #F56600;
}

hr {
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    color: #e0e0e0;
}

.login p {
    font-size: 14px;
    position: absolute;
    left: 164px;
    bottom: 105px;
    background-color: #FFF;
    color: #cccccc;
}

.other {
    padding-top: 20px;
    border-top: 1px solid #cccccc;
    margin-top: 134px;
    margin-left: 20px;
    text-align: center;
}

.next>a,
.next>a>i {
    display: inline-block;
}

.next>a {
    margin-left: 18px;
    margin-right: 18px;
    width: 30px;
    height: 30px;
    position: relative;
    background-color: #333;
    border-radius: 50%;
}

.next>a>i {
    height: 19px;
    background-image: url("../images/icons_type.png");
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
}

.qq {
    width: 19px;
    background-position-x: -19px;
}

.weibo {
    width: 19px;
    background-position-x: -38px;
}

.zhifubao {
    width: 25px;
    background-position-x: -56px;
    background-position-y: 1px;
}

.weixin {
    width: 30px;
    background-position-x: -81px;
}

.saoma {
    display: none;
    width: 410px;
    height: 442px;
    text-align: center;
}

.saoma img {
    margin-top: 105px;
    top: 30px;
    left: 30px;
}

.active {
    color: orange !important;
}

.saoma div p {
    text-align: center;
    margin-top: 10px;
}


/* 底部 */

.bottom {
    width: 100%;
    position: absolute;
    height: 200px;
    top: 700px;
}

.inform {
    height: 70px;
    width: 700px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #7D8289;
}

.inform a {
    font-size: 14px;
    text-decoration: none;
    color: #7D8289;
}

.inform p {
    font-size: 14px;
    margin-top: 10px;
}

.d2 {
    margin-top: 150px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.d2 a {
    display: inline-block;
    border: 1px solid #333;
    width: 70px;
    line-height: 70px;
    height: 70px;
    border-radius: 50%;
    color: #333;
    text-decoration: none;
}