h3 {
    padding-top: 20px;
    text-align: center;
}

.jingshen {
    margin-top: 50px;
}

.jingshen_img img {
    width: 30%;
}

.title {
    font-size: 24px;
    color: #2dae36;
}


/* 产品展示 */

.product_title {
    height: 42px;
    margin-bottom: 10px;
    border-bottom: 1px solid #2dae36;
}

.show {
    width: 120px;
    color: white;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    background: #2dae36;
    border-radius: 16px 0 16px 0;
}

.show-item .item {
    position: relative;
    padding: 15px;
    box-sizing: border-box;
}

.show-item .item img {
    width: 100%;
}